/* Font Imports */
@font-face {
    font-family: 'nexa';
    src: url('fonts/nexarustsans-black-webfont.woff2') format('woff2'),
         url('fonts/nexarustsans-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima';
    src: url('fonts/proximasansregular_regular-webfont.woff2') format('woff2'),
         url('fonts/proximasansregular_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* Global Variables */
:root {
  --trailhead-blue: #003764;
  --trailhead-beige: #e7dfd5;
  --nexa: 'nexa', Helvetica;;
  --proxima: 'proxima', helvetica;;
  --card-height: 80vh;
  --card-padding: #003764;
}

/* Body & Global Styles */
body {
  min-height: 100vh;
  padding: 100px
	background-repeat: none;
	background: rgb(138,208,232); /* older clients */
	background: -moz-linear-gradient(top, rgba(138,208,232,1) 0%, rgba(216,226,205,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(138,208,232,1) 0%,rgba(216,226,205,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(138,208,232,1) 0%,rgba(216,226,205,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  text-align: center;
}

h1 {
  font-family: var(--nexa);
  color: var(--trailhead-blue);
  margin: .2em;
}

p {
  font-family: var(--proxima);
  color: var(--trailhead-blue);
}

/* Header and Intro */
header img {
  max-width: 100px;
}

@media screen and (max-width: 780px) {
  header img { max-width: 140px; }
}

header p {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
}

/* Rating Module */
section {
  position: relative;
  width: 40%;
  height: 50vh;
  z-index: 999;
  margin: 0 auto;
  margin-top: 40px;
  padding: 10px;
  background: var(--trailhead-beige);
  border: 5px solid var(--trailhead-blue);
  border-radius: 10px; 
}

@media screen and (max-width: 780px) {
  section { width: 60%; }
}

nav { margin: 0; }

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  width: 20%;
  font-size: 14px;
  font-family: var(--nexa);
  margin-right: 2.5%;
  color: var(--trailhead-blue);
  text-align: center;
}

@media screen and (max-width: 780px) {
  nav li { font-size: 10px; }
}

.tab-hover {
  background: var(--trailhead-blue);
  color: var(--trailhead-beige);
  border-radius: 5px;
  transition: .75s;
  transition-timing-function: ease-in-out;
}

.mascot {
  position: absolute;
  top: 50px;
  width: 100%;
  height: calc(100% - 50px);
}

.mascot h2 {
  font-family: var(--proxima);
  color: var(--trailhead-blue);
  margin: 10px;
}

/* Originally hide the latter three mascots */
.mascot-cloudy,
.mascot-codey,
.mascot-einstein {
  display: none;
}

.rating p {
  display: inline-block;
  text-align: left;
  margin: 10px 0;
}

.sprite,
.sprite-overall {
  position: relative;
  top: 5px;
  display: inline-flex;
  flex-direction: row;
  width: 85px;
  height: 18px;
  text-align: right;
  background-image: url('img/sprite1.png');
}

.star,
.star-overall {
  width: 17px;
  height: 18px;
}

.overall-score,
.total-votes {
  font-size: 10px;
}

footer img {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 30%;
  z-index: 1;
}

